* { margin: 0; padding: 0 }

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-V.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  background: #F1F9FD
}

.header__img {
  width: 200px;
  height: 40px;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__info h1 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-top: 32px;
}

.header__info span {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.36px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #FFF;
  width: fit-content;
  padding: 24px;
  margin-top: 24px;
}

.main__card h2 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
  max-width: 200px;
}

.main__card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.125em;
  padding-top: 24px;
}

.main__card ul li {
  display: flex;
}

.main__card ul li span {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.28px;
  max-width: 150px;
  align-self: center;
  padding-left: 8px;
}

.main__card ul li:nth-child(3) span {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.28px;
  max-width: 200px;
  align-self: center;
  padding-left: 8px;
}

.main__card ul li {
  display: flex;
  padding-top: 18px;
}

.main__a--animated {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
  background: #514FAE;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.32px;
  text-align: center;
  width: 325px;
  padding: 20px 30px;
  margin-top: 36px;
  transition: 1s;
}

.main__a--animated:hover {
  background: #413F8B;
}

.main__a--animated:active {
  width: calc(325px - 5%);
  transition: 0s;
}

.main__a {
  all: unset;
  color: #514FAE;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.32px;
  cursor: pointer;
  margin-top: 24px;
}

.main__apps {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.main__apps img {
  width: 135px;
  height: 38px;
}

.main__apps div {
  display: flex;
}

.main__apps--google {
  padding-left: 16px;
}